header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e1e1e1;
}

.header_top {
    display: flex;
    height: 74px;
    border-bottom: 1px solid #e1e1e1;
}

.header_bottom {
    display: flex;
    height: 57px;
    font-size: 13px;
    letter-spacing: -0.015em;
}

.it0 {
    margin-left: 1px;
    padding: 20px 0px;
    border-bottom: 2px solid black;
    letter-spacing: -0.02em;
}

.it0 a {
    text-decoration: none;
    color: black;
}

.it1 a {
    text-decoration: none;
    color: black;
}

.it2 a {
    text-decoration: none;
    color: black;
}

.it1 {
    margin-top: -2px;
    margin-right: 11px;
    padding: 20px 0px;
    border-bottom: 2px black;
    letter-spacing: -0.02em;
}

.it2 {
    margin-top: -2px;
    padding: 20px 0px;
    border-bottom: 2px black;
    letter-spacing: -0.02em;
}

.nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 390px;
    padding-left: 227px;
    list-style-type: none;
}

body {
    font-family: 'Roboto', sans-serif;
    min-width: 780px;
    margin: 14px 10px;
    border: 1px solid #e1e1e1;
}

.logo {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 14px 21px;
    display: flex;
}

.logo_ya {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -0.01em;
}

.logo_ya a {
    text-decoration: none;
    color: black;
}

.logo_info {
    margin-top: 2px;
    margin-left: 7px;
    font-size: 30px;
    letter-spacing: -0.031em;
}

.logo_info a {
    text-decoration: none;
    color: black;
}

.logo_ya::first-letter {
    font-size: 32px;
    color: #b6130e;
}

.search {
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    font-weight: 500;
    height: 28px;
    margin: 21px 0px;
    display: flex;
}

.search_area input {
    letter-spacing: 0.025em;
    font-size: 14px;
    padding-left: 12px;
    width: 385px;
    height: 28px;
    border: 0px;
}

input:focus {
    outline-color: #ffcb03;
}

textarea:focus {
    outline-color: #ffcb03;
}

textarea {
    resize: none;
}

.search_button {
    color: #191919;
    letter-spacing: 0.02em;
    font-size: 14px;
    padding-top: 5px;
    padding-left: 15px;
    width: 54px;
    border-left: 1px solid #e1e1e1;
    font-weight: 600;
}

.search_button:active {
    background-color: #e1e1e1;
}

.face {
    align-self: center;
    margin-left: auto;
    margin-right: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin-left: 224px;
    margin-top: 22px;
}

.name_and_map {
    display: flex;
    align-items: center;
}

.name {
    font-size: 36px;
    letter-spacing: -0.009em;
}

.map {
    margin-left: 10px;
    margin-top: 14px;
    font-size: 13px;
}

.map a {
    text-decoration: none;
    color: #5a77b0;
}

.menu {
    font-size: 13px;
    letter-spacing: -0.0em;
    display: flex;
    align-items: center;
    width: 476px;
    height: 26px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    margin-top: 27px;
}

.menu a {
    text-decoration: none;
    color: black;
}

.sec0 {
    line-height: 26px;
    width: 98px;
    height: 26px;
    border-right: 1px solid #e1e1e1;
    padding-left: 20px;
}

.sec1 {
    line-height: 26px;
    width: 60px;
    height: 26px;
    border-right: 1px solid #e1e1e1;
    padding-left: 20px;
}

.sec2 {
    line-height: 26px;
    width: 49px;
    height: 26px;
    border-right: 1px solid #e1e1e1;
    padding-left: 17px;
}

.sec3 {
    line-height: 26px;
    width: 75px;
    height: 26px;
    background-color: #feeaa1;
    border-right: 1px solid #e1e1e1;
    padding-left: 28px;
}

.sec4 {
    line-height: 26px;
    width: 85px;
    height: 26px;
    padding-left: 20px;
}

.about_reviews {
    display: flex;
    margin-top: 28px;
    margin-bottom: 14px;
    margin-left: 3px;
}

.blin {
    letter-spacing: -0.04em;
    cursor: pointer;
    color: #a0a0a0;
    margin-left: 12px;
}

.number_reviews {
    letter-spacing: -0.005em;
    font-size: 24px;
}

.rating {
    color: #191919;
    position: relative;
    margin-top: 2px;
    padding: 3px 3px;
    padding-left: 6px;
    margin-left: 19px;
    align-self: center;
    background-color: #ffcc01;
}

.rating::after {
    content: '';
    position: absolute;
    left: 31px;
    top: -1px;
    border: 13px solid transparent;
    border-left: 8px solid #ffcc01;
}

.all_reviews {
    display: flex;
    flex-direction: column;
}

.review {
    margin-top: 12px;
    margin-bottom: 16px;
    margin-left: 3px;
    display: flex;
    flex-direction: column;
}

.review_top {
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: -0.01em;
}

.rev_face {
    color: green;
    font-size: 32px;
}

.rev_name {
    margin-left: 11px;
    font-weight: 700;
}

.rev_data {
    color: #a0a0a0;
    margin-left: 7px;
}

.rev_data::before {
    font-size: 11px;
    content: ' • ';
}

.rev_value {
    color: #a0a0a0;
    position: relative;
    letter-spacing: 0.01em;
    margin-left: 7px;
}

.rev_value::before {
    font-size: 11px;
    content: ' • ';
}

.rev_value i {
    color: #ffcc01;
    position: absolute;
    top: -8px;
    left: 60px;
    font-size: 22px;
}

.rev_article {
    letter-spacing: -0.005em;
    line-height: 18px;
    margin-top: 5px;
    font-size: 13px;
    width: 470px;
}

.rev_bottom {
    margin-top: 11px;
    display: flex;
    justify-content: space-between;
    width: 318px;
    font-size: 13px;
    letter-spacing: -0.005em;
}

.rev_button {
    line-height: 22px;
    padding: 0px 10px;
    padding-left: 11px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
}

.rev_link {
    margin-top: 4px;
}

.rev_link a {
    font-size: 12px;
    text-decoration: none;
    color: #a0a0a0;
}

.rev_value .fa-thumbs-down {
    color: red;
}

.bad {
    color: red;
}

.your_answer {
    display: flex;
    flex-direction: column;
    margin-top: -4px;
    margin-left: 2px;
    width: 470px;
}

.help {
    letter-spacing: -0.001em;
    font-size: 13px;
    font-weight: 700;
}

.answer {
    margin-top: 8px;
    margin-left: 1px;
    width: 470px;
    height: 98px;
}

.ans_button {
    margin-top: 12px;
    line-height: 24px;
    padding: 0px 16px;
    color: #a0a0a0;
    background-color: #ededed;
    border: 1px solid #ededed;
    border-radius: 3px;
    font-size: 13px;
    align-self: flex-end;
}

.see_all_reviews {
    margin-left: 3px;
    margin-top: 30px;
    width: 469px;
    text-align: center;
    padding-left: 9px;
    letter-spacing: -0.04em;
    line-height: 36px;
    background-color: #ededed;
    border: 1px solid #ededed;
    border-radius: 3px;
    margin-bottom: 20px;
}

.rev_button:active {
    background-color: #feeaa1;
}

.see_all_reviews:active {
    background-color: #feeaa1;
}